configuration {
    	display-ssh:    "";
    	display-run:    "";
    	display-drun:   "";
    	display-window: "";
    	display-combi:  "";
    	show-icons:     true;
	font: "FiraCode Nerd Font 18";
}

@theme "~/.config/rofi/gruvbox-material.rasi"
